---
layout: default
---
{% for post in paginator.posts %}
<div class="post-list-row">
	<h1 class="post-title">
		<a href="{{ post.url }}">{{ post.title }}</a>
	</h1>
	<p class="post-brief-info">
		<span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
		<!-- <span class="words-number">
			{% assign num = post.content | strip_html | strip_newlines | remove: " " | size %}
			{% if num > 1 %}
			{{ num }} words
			{% else %}
			{{ num }} word
			{% endif %}
		</span> -->
		<!-- <span class="read-time">
			{% assign time = post.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus:1 %}
			{% if time > 1 %}
			{{ time }} mins read
			{% else %}
			{{ time }} min read
			{% endif %}
		</span> -->
		<span class="tags">
			{% for tag in post.tags %}
			<a href="#" class="tag">{{ tag }}</a>
			{% endfor %}
		</span>
	</p>

</div>
{% endfor %}
<!-- 分页链接 -->
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="prev">
		<i class="iconfont icon-zuo"></i>
		<span>Prev</span>
	</a>
	{% endif %}
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">
		<span>Next</span>
		<i class="iconfont icon-gengduo"></i>
	</a>
	{% endif %}
</div>
{% include footer.html %}