---
layout: album
---
<!-- <div class="container">
{% assign image_files = site.static_files | where: "album", true %}
{% assign temp = null %}
{% assign same = false %}
{% for myimage in image_files %}
{% assign img = myimage.name %}
{% assign album_name = myimage.path | remove: '/images/albums' | remove: img | remove: '/' %}
{% if temp != album_name %}
	{% capture temp %}{{album_name}}{% endcapture %}
	{% if same %}
	{% capture same %}{{false}}{% endcapture %}
	</ul>
	</div>
	{% endif %}
	<div class="album-container">
	<p class="album_name">{{album_name}}</p>
	<ul class="img-pre-list wwf"><li class="img-li-item wwf-li"><img src="{{ myimage.path }}"></li>
{% else %}
	<li class="img-li-item wwf-li"><img src="{{ myimage.path }}"></li>
{% capture same %}{{true}}{% endcapture %}
{% endif %}
{% endfor %}
</div>
 -->
 <div class="album-container">
 {% assign image_files = site.static_files | where: "album", true %}
 {% for img in image_files %}
 <div>
 	<img src="{{ img.path }}" alt="">
 </div>
 {% endfor %}
</div>