@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562436449984'); /* IE9 */
  src: url('iconfont.eot?t=1562436449984#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABqgAAAKAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBEIEUATYCJAMMCwgABCAFhG0HNxvbBRHVkxNkXxzY4H6KhiGyXtG0ZXitwBn0L+KEOIwL7u94+G+N330zs/vNjC5aiaIJT4TkGVKjUQkFThdL4onz4265CTUd1kwdsbGma31H8uDhQqjAv91eUHS4W5TVIrX9iNS2bUezmIqCIJDu1nZB4lvpOwCvJ4b0ABlxOG1MWyDzLctpjuFRF2AcUKB7YJusRALxFtlF3ImLOE+g3bRNcSrEDD0FmhaIe40L9ApxRTFKrULdsLYQz1Va002v8Sz6fvyyH61Iqgyae+6GR9h+nf26zA+aXeYECYK8uULGJgpxtTF/XlMY3Kxd3+qurRUhzZVqGiK5b6x3+sdLRA1q7gSrciHxFaiY4OtygwQyqIvFRewq1MEnhOjv7yM0mY7y97q94TozNYiv4nlab6jermuN2xVZzOKKF7KaMt/jS5NHbwlrVSYIy8yWCNdpaA6bL3NbxGykXwSCR1f+v2vT5f/WjgK8vbRcKdYctsCdWk8QCH6YAthVfBVy5OLKqTwMZv0Ab0KWmiENFO73abxxCNxOaDU0IthiKkPWapFYqJuodDiCWqujaLfh7OYOA+5rilJh3VMJodcLJN1eIev1hlioH1EZ9ge13sjQB97BnkOziAcyuoIBeH+IfSoUcckgbr1jWGcu51UR741cxSmwDatcumCBPMeC6hM6IgoUUw5n6TLMMoKSKUFfjEiknJumanqT4VOuDRww5BIoADx/IOYjBcX7i0Hl83coVMu4uKOjJ/mGWCUeHtgMFoB40Regjnu5pvIRcgihAIWRHDhLo1AmQ0DZPCqBfMIQjciW5kzcS0H1xvrG/PsOQDu0R46G3tRbWvcmFmFQUzNq0zQ=') format('woff2'),
  url('iconfont.woff?t=1562436449984') format('woff'),
  url('iconfont.ttf?t=1562436449984') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562436449984#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e620";
}

.icon-zuo:before {
  content: "\e63c";
}

