<section class="footer">
	<footer>
		<nav class="footer-nav">
			<ul class="footer-list">
				{% if site.github_username %}
				<li class="footer-item">
					<a href="https://github.com/{{site.github_username}}" title="@{{site.github_username}}的Github" target="_blank">
						<i class="iconfont icon-icongithub"></i>
					</a>
				</li>
				{% endif %}
				<li class="footer-item">
					<a href="/feed.xml" rel="author" title="RSS" target="_blank">
						<i class="iconfont icon-rss"></i>
					</a>
				</li>
				{% if site.email %}
				<li class="footer-item">
					<a href="mailto:{{site.email}}" title="联系我">
						<i class="iconfont icon-youjian"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		<div class="copyright">
			<p>Copyright &copy; Leo-0 2017 Theme by
				<a href="http://ihappypi.com">ihappypi</a>
			</p>
		</div>
	</footer>
</section>