<div class="read-more clearfix">
{% if page.next %}
{% assign next = page.next %}
	<div class="next-article read-more-item">
		<p class="next-info">
			<span class="next-text">最近：</span>
			<a href="{{ next.url }}" title="发布时间：{{ next.date | date: '%Y-%m-%d' }}">{{ next.title }}</a>
		</p>
	</div>
{% else %}
	<div class="next-article read-more-item">
		<p class="next-info">
			<span class="next-text">最近：这个人犯懒了，在休息！</span>
		</p>
	</div>
{% endif %}
{% if page.previous %}
	{% assign previous = page.previous %}
	<div class="previous-article read-more-item">
		<p class="previous-info">
			<span class="previous-text">更早：</span>
			<a href="{{ previous.url }}" title="发布时间：{{ previous.date | date: '%Y-%m-%d' }}">{{ previous.title }}</a>
		</p>
	</div>
{% else %}
	<div class="previous-article read-more-item">
		<p class="previous-info">
			<span class="previous-text">更早：记不得从哪天开始的，好像没有了</span>
		</p>
	</div>
{% endif %}
</div>