<script type="text/javascript" src="/assets/js/calendar.js"></script>
<script type="text/javascript" src="/assets/js/time.js"></script>
<script type="text/javascript">
	function go() {
		var evt = event || window.event;
		var tar = evt.srcElement || evt.target;
		if(tar.className.indexOf('flip-wrapper') !== -1) {
			var a = tar.querySelector('a');
			window.location.href = a.href;
		}
	}
</script>
<script type="text/javascript">
	function controlBgCal() {
		var d = new Date();
		if(d.getHours() === 0 && d.getMinutes()===0&&d.getSeconds()===0) {
			Calendar({id: '#calendar',animated: true});
		}
		var hd = document.querySelector('.jumbotron-wrapper');
		if(hd) {
			if(d.getHours()>=6 && d.getHours()<13) {
				hd.style.backgroundImage="url('https://i.loli.net/2017/09/03/59ab9569d38dd.jpg')";
			} else if(d.getHours()>=13 && d.getHours()<18) {
				hd.style.backgroundImage="url('https://i.loli.net/2017/09/03/59ab956ad2603.jpg')";
			} else {
				hd.style.backgroundImage="url('https://i.loli.net/2017/09/03/59ab9569df1ee.png')";
			}
		}
	}
	Calendar({id: '#calendar',animated: true});
	window.onresize = function() {
		Calendar({id: '#calendar',animated: true});
		var ele = document.querySelector('.navbar');
		if(ele.className.indexOf('show') !== -1) {
			ele.className = ele.className.replace(/\sshow/g,'');
		}
	}
	controlBgCal();
	Time({id: '#time', callback: controlBgCal});
</script>
<script type="text/javascript">
	function showNavbar() {
		var ele = document.querySelector('.navbar');
		if(ele.className.indexOf('show')!==-1) {
			ele.className = ele.className.replace(/\sshow/g,'');
		} else {
			ele.className += ' show';
		}
	}
	function backToTop() {
		var topTimer = setInterval(function() {
			if(document.all) {
				document.documentElement.scrollTop -= 100;
			} else {
				document.body.scrollTop -= 100;
			}
			var st = document.documentElement.scrollTop || document.body.scrollTop;
			if(st <= 0) {
				topTimer = clearInterval(topTimer);
			}
		}, 30);
	}
</script>
<script type="text/javascript">
	function getAbsPos(ele) {
		var actualLeft = ele.offsetLeft;
		var actualTop = ele.offsetTop;
		var cur = ele.offsetParent;
		while(cur !== null) {
			actualLeft += cur.offsetLeft;
			actualTop += cur.offsetTop;
			cur = cur.offsetParent;
		}
		return {
			left: actualLeft,
			top: actualTop
		}
	}
	window.onscroll = function() {
		var t = document.documentElement.scrollTop || document.body.scrollTop;
		var nav = document.querySelector('.navbar');
		var w = document.body.clientWidth;
		if(nav) {
			if(t >= 60 && w > 768 && nav.className.indexOf('scrolling') < 0) {
				nav.className += ' scrolling';
			}
			if(t < 60) {
				nav.className = nav.className.replace(/\sscrolling/g,'');
			}
		}
		var totop = document.querySelector('.to-top');
		if(totop) {
			if(t > 300 && totop.className.indexOf('show') < 0) {
				totop.className += ' show';
			}
			if(t < 300) {
				totop.className = totop.className.replace(/\sshow/g,'');
			}
		}
		var introImg = document.querySelector('.intro-image');
		var introWrapper = document.querySelector('#intro');
		if(introImg && introWrapper) {
			var top = getAbsPos(introWrapper).top;
			if(t >= top && introImg.className.indexOf('show') < 0) {
				introImg.className += ' show';
			}
		}
	}
</script>
<script type="text/javascript" src="/assets/js/wff.js"></script>
<script type="text/javascript">
	Wff({pSelector: '.wwf', itemSelector: '.wwf-li', all: true});
</script>