.calendar {
	width: 100%;
	min-width: 220px;
	max-width: 250px;
	border: 1px solid #ddd;
	color: #F6FEA1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgba(0,0,0,.5);
}
.calendar>.calheader,
.calendar>.calheader>.ym,
.calendar>.calheader>.week,
.calendar>.date,
.calendar>.date>.days {
	width: 100%;
}
.calendar>.calheader {
	text-align: center;
}
.calendar>.calheader>.ym,.calendar>.calheader>.week {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}
.calendar>.calheader>.ym>* {
	display: inline-block;
	margin: 0 4px;
	vertical-align: middle;
}
.calendar>.calheader>.ym>.calbtn {
	cursor: pointer;
}
.calendar>.calheader>.ym>.calbtn[class*="pre"] {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #F08E6B;
	border-bottom: 5px solid transparent;
	visibility: hidden;
}
.calendar>.calheader>.ym>.calbtn[class*="next"] {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #F08E6B;
	border-bottom: 5px solid transparent;
	visibility: hidden;
}
.calendar>.calheader>.ym:hover>.calbtn[class*="pre"],
.calendar>.calheader>.ym:hover>.calbtn[class*="next"] {
	visibility: visible;
}
.calendar>.calheader>.ym>.calbtn.totoday {
	width: 0;
	height: 0;
	border: 5px solid #F08E6B;
	border-radius: 100%;
}
.calendar>.calheader>.week>span, .calendar>.date>.days>span {
	display: inline-block;
	width: calc(100% / 7);
	text-align: right;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.calendar>.calheader>.week>.weekend,.calendar>.date>.days>.weekend {
	color: #F08E6B;
}
.calendar>.date {
	overflow: hidden;
	position: relative;
	white-space: pre-wrap;
	text-align: left;
}
.calendar>.date>.days {
	position: absolute;
	box-sizing: border-box;
}
.calendar>.date>.days>.today {
	border: 1px solid rgb(255,178,112);
	color: white;
	background: rgba(255,178,112,.6);
}
.calendar>.date>.days>.nottoday {
	border: 1px solid rgb(255,178,112);
	border-style: dotted;
}