.container {
    display: block;
}
.col {
    float: left;
}
.container .col.w4 {
    width: 33.3%;
}
.container .col.w6 {
    width: 66.7%;
}
.side-bar {
    height: 100vh;
    background-color: rgb(39, 56, 56);
    color: white;
    padding: 50px;
}
.side-bar .info {
    text-align: center;
    font-size: 1em;
    font-family: Athelas,STHeiti,Microsoft Yahei,serif;
}
.side-bar .info .name {
    font-size: 1.75em;
}
.side-bar .info .name,
.side-bar .info .signatures {
    font-weight: 600;
}
.post-lists {
    padding: 30px 30px;
}
.pagination {
    padding: 0 30px;
}
.post-lists,
.pagination {
    font-family: Athelas,STHeiti,Microsoft Yahei,serif;
}
.post-lists .post-list-row {
    padding: 1.5em 0 3em 0;
}
.post-lists .post-list-row .post-title {
    font-size: 1.25em;
}
.post-lists .post-list-row .post-brief-info,
.post-lists .post-list-row .tags {
    font-size: 0.85em;
    margin: 0.25em 0;
}
.post-lists .post-list-row .post-brief-info {
    color: gray;
}
.post-lists .post-list-row .post-brief-info span {
    margin-right: 6px;
}
.post-lists .post-list-row .tags .tag {
    color: white;
    background-color: #6fa3ef;
    padding: 1px 15px;
    border-radius: 15px;
}
.post-lists .post-list-row .post-brief-info .date,
.post-lists .post-list-row .tags .tag {
    font-weight: bolder;
    font-size: 1.05em;
    display: inline-block;
    margin-right: 5px;
}
.pagination .prev,
.pagination .next {
    display: block;
    font-weight: 600;
    font-size: 1.25em;
}
.pagination .prev {
    float: left;
}
.pagination .next {
    float: right;
}
.avatar {
    width: 100%;
    height: 200px;
}