html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	background-color: #002;
	background-image: radial-gradient(circle at center, #045, #002);
}
.avatar {
    display: block;
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    display: block;
    width: 100%;
    height: 100%;
}
.msg {
    text-align: center;
    color: #fff;
}
.top-msg {
	position: fixed;
	top: 0;
	width: 100%;
	color: #9a9696;
	text-align: center;
	opacity: .3;
}
.pagewrap,.trick-outter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
}
.pagewrap
{
    z-index: 9999;
    /*background-color: #312d2d;*/
    background-color: #312d2d;
    background-image: radial-gradient(circle at center, #045, #002);
}
.svgwrap,.trickwrap
{
    height: 100%;
}
.centered-wrapper
{
    text-align: center;
    white-space: nowrap;
}
.centered-wrapper:before
{
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    content: ' ';
    vertical-align: middle;
}
.centered
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
#svg {
	cursor: pointer;
}
.svg-path
{
    animation: draw 3s linear infinite;
    stroke-dasharray: 10;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #BABABA;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #BABABA;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #BABABA;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #BABABA;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #BABABA;
}
input {
	/*caret-color: transparent;*/
	caret-color: #fff;
	letter-spacing: 2px;
}
.bottom {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 70px;
}
.nav {
    padding: 20px 10px;
    text-align: center;
}
.menu-item {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    margin: 7px;
    width: 60px;
    height: 60px;
    background-color: #1c819e;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    padding: 5px;
    -webkit-transition: width .7s ease ,height .7s ease ,line-height .7s ease ;
    -o-transition: width .7s ease ,height .7s ease ,line-height .7s ease ;
    transition: width .7s ease ,height .7s ease ,line-height .7s ease ;
    /*linear|ease|ease-in|ease-out|ease-in-out|cubic-bezier(n,n,n,n);*/
}
.menu-item:hover {
    width: 90px;
    height: 90px;
    line-height: 90px;
}
@-webkit-keyframes draw
{
    to
    {
        stroke-dashoffset: 200;
    }
}
@-o-keyframes draw
{
    to
    {
        stroke-dashoffset: 200;
    }
}
@-moz-keyframes draw
{
    to
    {
        stroke-dashoffset: 200;
    }
}
@keyframes draw
{
    to
    {
        stroke-dashoffset: 200;
    }
}