/* site start */
html, body {
	height: 100%;
}
a {
	text-decoration: none;
}
/*     centered start     */
.centered-wrapper {
	text-align: center;
	white-space: nowrap;
}
.centered-wrapper:before {
	content: ' ';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.centered {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}/*      centered end      */
/*      navbar start      */
.navbar {
	position: absolute;
	padding: 0 24px;
	width: 100%;
	background-color: transparent;
	box-shadow: none;
	z-index: 999;
	*zoom: 1;
}
.navbar.scrolling {
	position: fixed;
	background-color: white;
	box-shadow: 0px 2px 5px #2D2D2D;
	-webkit-animation: fadeInDown 1s both;
	-o-animation: fadeInDown 1s both;
	animation: fadeInDown 1s both;
}
@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}
.navbar.show {
	background-color: #F6FEA1;
}
@media screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		top: 0;
		right: -100%;
		width: 300px;
		height: 100%;
		padding: 5px 0;
	}
	.navbar.show {
		right: 0;
	}
}
.brand {
	padding: 15px 15px;
	float: left;
	height: 60px;
	font-size: 18px;
	line-height: 20px;
}
.brand a {
	color: #F08E6B;
	display: block;
}
.brand a img {
	max-width: 120px;
}
.brand a span {
	float: right;
	margin-top: 10px;
	font-size: 1.25em;
}
.menu {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	float: right;
}
@media screen and (max-width: 768px) {
	.menu {
		width: 100%;
		margin-top: 130px;
	}
}
.menu-item {
	display: inline-block;
	line-height: 60px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.menu .menu-item {
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
	}
}
.menu-item>a {
	display: block;
	padding: 0 20px;
	color: #F08E6B;
	font-weight: bold;
}
/*       flip start       */
.flip-wrapper {
	perspective: 1000px;
	-webkit-perspective: 1000px;
}
.flip-wrapper .flip {
	position: relative;
	top: -2px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: .8s;
	-moz-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}
@media screen and (max-width: 768px) {
	.flip-wrapper .flip {
		top: 0;
	}
}
.flip:hover {
	background-color: #FFB270;
}
.flip:after {
	content: attr(title);
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	color: white;
	background-color: #FFB270;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateX(90deg) translate3d(0,-30px,30px);
	-ms-transform: rotateX(90deg) translate3d(0,-30px,30px);
	transform: rotateX(90deg) translate3d(0,-30px,30px);
}
@media screen and (max-width: 768px) {
	.flip:after {
		-webkit-transform: rotateX(90deg) translate3d(0,-20px,20px);
		-ms-transform: rotateX(90deg) translate3d(0,-20px,20px);
		transform: rotateX(90deg) translate3d(0,-20px,20px);
	}
}
.flip-wrapper:hover .flip {
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}/*        flip end        */
input.search {
	width: 0;
	height: 30px;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 1px 5px 1px 25px;
	color: #F08E6B;
	background-image: url("/images/search.svg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
input.search:focus {
	width: 160px;
	border-color: #FFB270;
}
@media screen and (max-width: 768px) {
	input.search:focus {
		width: 100%;
	}
}
.navbar .avatar {
	margin: 5px 0;
	width: 120px;
	height: 120px;
	display: none;
	position: absolute;
	top: 60px;
	left: 90px;
}
.avatar a img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	.navbar .avatar {
		display: block;
	}
}
/*   navbar toggle start  */
.navbar-toggle {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 9px 10px;
	margin: 10px 25px;
	border: 1px solid #FFB270;
	border-radius: 5px;
	cursor: pointer;
	z-index: 9999;
}
@media screen and (max-width: 768px) {
	.navbar-toggle {
		display: block;
	}
}
.navbar-toggle:hover {
	background-color: #FFB270;
}
.navbar-toggle:hover .icon-bar {
	background-color: #F6FEA1;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 24px;
	height: 2px;
	background-color: #FFB270;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}/*   navbar toggle end   */
/*      navbar end       */
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
/*    jumbotron start    */
.jumbotron-wrapper {
	height: 100%;
	background-image: url("https://i.loli.net/2017/09/03/59ab9569d38dd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 24px;
	padding-right: 24px;
}
.jumbotron-wrapper.small {
	height: 260px;
	padding: 0;
}
@media screen and (max-width: 768px) {
	.jumbotron-wrapper {
		padding-top: 0;
	}
}
.jumbotron {
	width: 100%;
	height: 100%;
	position: relative;
}
.jumbotron .items .avatar {
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
}
.jumbotron-wrapper.small .jumbotron .items .avatar {
	width: 110px;
	height: 110px;
}
.jumbotron .items .name {
	padding: 5px 0 15px;
	font-weight: bold;
	font-size: 1.25em;
	color: #F6FEA1;
}
.jumbotron .items .personalized {
	color: #F6FEA1;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: 1px;
	border-top: 2px solid #F08E6B;
	border-bottom: 2px solid #F08E6B;
	padding: 10px 15px;
}
.jumbotron .items .personalized .signature {
	padding: 5px 0;
}
.jumbotron-wrapper.small .jumbotron .items .name {
	font-size: 1em;
}
@media screen and (max-width: 768px) {
	.jumbotron .items .avatar {
		width: 120px;
		height: 120px;
	}
	.jumbotron .items .name,
	.jumbotron .items .personalized {
		font-size: 1em;
	}
}
.jumbotron #calendar {
	position: absolute;
	top: 5px;
	left: 5%;
}
.jumbotron #time {
	position: absolute;
	top: 165px;
	left: 5%;
}
@media screen and (max-width: 768px) {
	.jumbotron #calendar,
	.jumbotron #time {
		display: none;
	}
}
/*     jumbotron end      */
.to-top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 99;
	background-image: url(/images/top.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
}
.to-top.show {
	display: block;
}
.to-top:hover {
	background-image: url(/images/top2.png);
}
/*      intro start       */
.intro-wrapper, .intro-block {
	width: 100%;
	float: left;
}
@media screen and (min-width: 992px) {
	.intro-wrapper {
		width: 61.8%;
	}
	.intro-block {
		width: 38.2%;
	}
}
.intro-title, .intro-content {
	padding-left: 20px;
	padding-right: 20px;
}
.stitle {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-top: 35px;
	color: #2f2d2d;
}
.title-content, .scontent {
	line-height: 2;
	letter-spacing: 2px;
}
.title-content {
	padding-top: 15px;
	color: #B1AFAF;
	font-size: 14px;
}
.scontent {
	padding-top: 27px;
}
.intro-image {
	padding: 10px;
	overflow: hidden;
}
.intro-image img {
	width: 100%;
	opacity: 0;
	margin-left: 100px;
	border-radius: 6px;
	-webkit-transition: opacity 1.6s, margin 1s;
	-o-transition: opacity 1.6s, margin 1s;
	transition: opacity 1.6s, margin 1s;
}
.intro-image.show img {
	opacity: 1;
	margin-left: 0;
}
/*intro end*/
/*blog-preview start*/
#blog-preview {
	background-image: url("https://i.loli.net/2017/09/03/59ab9c41f3028.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.section-title {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.top-title {
	font-size: 28px;
	font-weight: bold;
	color: #F08E6B;
	letter-spacing: 6px;
	display: inline-block;
	padding-bottom: 6px;
}
.top-title:after {
	content: "";
	display: block;
	width: 30%;
	border: 2px solid #F08E6B;
	margin: 15px auto;
}
.top-title i {
	font-size: 28px;
}
.pre-articles-menu .pre-menu-list {
	width: 100%;
	float: left;
	padding: 10px;
}
@media screen and (min-width: 640px) {
	.pre-articles-menu .pre-menu-list {
		width: 50%;
	}
}
@media screen and (min-width: 992px) {
	.pre-articles-menu .pre-menu-list {
		width: 33.3333333%;
		width: calc(100% / 3);
	}
}
.pre-articles-menu .pre-menu-list>.list-items {
	background-color: #F6FEA1;
	position: relative;
}
.pre-menu-list .pre-post-title {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.pre-menu-list .pre-post-title a {
	color: #F08E6B;
}
.pre-menu-list .pre-post-title a:hover {
	text-decoration: underline;
}
.pre-menu-list .pre-excerpt {
	font-size: 14px;
	padding: 10px 30px;
	line-height: 1.2;
	letter-spacing: 1px;
}
.pre-menu-list .pre-post-meta {
	padding: 10px 30px 10px;
}
.info {
	display: inline-block;
}
.info+.info {
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid #c1baba;
}
.post-time {
	color: #A0E418;
}
.tag-text * {
	color: #00ADB5;
}
.tag+.tag {
	margin-left: 5px;
}
.pre-menu-list .read-full {
	padding: 10px 30px;
}
.pre-menu-list .read-full a {
	float: right;
	color: #7FB414;
	text-decoration: underline;
}
.hover-shadow:hover {
	box-shadow: 2px 2px 10px #363535;
}
img.pin-icon {
	position: absolute;
	top: -20px;
	right: -2px;
}
.section-bottom {
	text-align: center;
	margin-top: 10px;
}
.section-btn {
	display: inline-block;
	background: #00b4ae;
	padding: 10px 20px;
	border-radius: 8px;
	color: white;
	font-size: 20px;
}
/*blog-preview end*/
/*images-preview & colection start*/
.img-pre-list .img-li-item,
.collection-list .coll-li-item  {
	float: left;
	padding: 15px;
	text-align: center;
}
.img-li-item img,
.coll-li-item a img {
	max-width: 100%;
	display: inline-block;
}
#collection {
	background-image: url("https://i.loli.net/2017/09/03/59ab9c3dd463f.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.coll-li-item a {
	position: relative;
	display: block;
	overflow: hidden;
	color: #f08e6b;
	font-size: 18px;
	font-weight: bold;
}
@media (min-width: 640px) {
	.img-pre-list .img-li-item,
	.collection-list .coll-li-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.img-pre-list .img-li-item,
	.collection-list .coll-li-item {
		width: 33.3333333%;
		width: calc(100% / 3);
	}
}
.coll-li-item a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.coll-li-item a img,
.coll-li-item a .overlay {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.coll-li-item a:hover img {
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-ms-filter: blur(6px);    
	filter: blur(6px);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.coll-li-item a:hover .overlay {
	opacity: 1;
}
/*images-preview & collection end*/
/*footer start*/
.footer {
	text-align: center;
}
.footer-item {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.footer-list,
.copyright {
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-item a i {
	font-size: 18px;
}
.footer-item a,
.copyright {
	color: #a09c9c;
}
.copyright a {
	color: #00b4ae;
	text-decoration: underline;
}
/*footer end*/
/*post start*/
article {
	margin-top: 60px;
	box-shadow: 2px 2px 10px #6F6C6C;
	padding-bottom: 60px;
	background-image: url("https://i.loli.net/2017/09/03/59abaa3148f66.jpg");
}
article h1 {
	font-size: 1.8em;
	padding: 20px 0 10px;
}
article h2 {
	font-size: 1.35em;
	border-left: 5px solid #F46D3D;
	background-color: #F08E6B;
}
article h3 {
	font-size: 1.2em;
	border-left: 4px solid #A0E418;
	background-color: #00ADB5;
}
article h4 {
	border-left: 3px solid #AEB899;
	background-color: #B9ED51;
}
article h1,article h2,article h3,
article h4,article h5,article h6 {
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px 40px;
	color: #363535;
}
article h2,article h3,
article h4,article h5,article h6 {
	padding: 10px 15px;
}
article strong {
	font-weight: bold;
}
article p {
	padding: 8px 56px;
	line-height: 1.5;
	word-wrap: break-word;
}
article p:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
article p img {
	max-width: 100%;
	margin: 10px auto;
	display: block;
	border-radius: 6px;
}
article p img:hover {
	box-shadow: 2px 2px 10px #1D1A1A;
}
article p img.fl {
	float: left;
	margin-right: 20px;
}
article p img.fr {
	float: right;
	margin-left: 20px;
}
@media screen and (min-width: 992px) {
	article p img.fl,
	article p img.fr {
		max-width: 40%;
	}
}
article ul {
	list-style-type: disc;
}
article ol {
	list-style-type: decimal;
}
article ul,article ol {
	margin: 5px 55px;
	padding: 0 5px;
}
article ul li,article ol li {
	margin: 6px 0;
	line-height: 1.5;
}
article ul li p,article ol li p {
	padding: 0;
}
article code {
  color: #000000;
  padding: .1em .4em;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1.0em;
  vertical-align: bottom;
  word-wrap: break-word;
}
article pre {
	margin: .9em 40px 1.2em;
	padding: 1em 2.5%;
	background: #272822;
	border: 1px solid #66d9ef;
	color: #f8f8f2;
	border-radius: 5px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: .9em;
	line-height: 1.3em;
	overflow: auto;
}
article pre code {
	padding: 0;
	background: none;
	border: none;
	word-wrap: normal;
	color: #f8f8f2;
}
article table {
	color: #333333;
	font-size: .9em;
	text-align: center;
	line-height: 40px;
	border: 2px solid #363636;
	min-width: 30%;
	max-width: 80%;
	margin: 10px auto;
}
article th {
	font-weight: bold; 
	border: 1px solid #363636;
	background-color: #c9e1f6;
}
article td {
	font-size: .85em; 
	border: 1px solid #363636;
	padding: 5px 10px;
}
article pre table,
article pre td {
	margin: 0;
	border: 0;
	text-align: left;
}
article table pre {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: auto;
}
td.gutter {
	border-right: 1px dotted #9B9696;
}
article blockquote {
	margin: 10px 40px;
	background-color: #f9f9f0;
}
blockquote {
	position: relative;
}
blockquote:before {
	content: '\201C';
	top: 0.5em;
	left: 0;
}
blockquote:after {
	content: '\201D';
	bottom: 0;
	right: 0;
}
blockquote:before, blockquote:after {
	font-family: Arial,Helvetica,"SimSun";
	font-size: 6em;
	line-height: 0;
	position: absolute;
	color: #C8C7C7;
}
article blockquote p {
	padding: 1em 1.8em;
}
.post-title {
	color: #F08E6B;
}
.indent {
	text-indent: 2em;
}
.article-img img {
	width: 100%;
}
.article-info {
	padding: 15px 40px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.09);
	text-shadow: 0 1px 1px #fff;
}
.post-content {
	padding-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}
/*read more start*/
.read-more {
	width: 100%;
	margin-top: 20px;
}
.read-more .read-more-item {
	padding: 10px;
}
.read-more .next-article {
	float: left;
}
.read-more .previous-article {
	float: right;
}
/*read more end*/
/*post end*/
/*archive start*/
.posts-container {
	margin-top: 30px;
}
.posts-container .list-items {
	border-radius: 6px;
	overflow: hidden;
	padding-bottom: 20px;
	text-shadow: 0 1px 1px #fff;
}
@media screen and (min-width: 992px) {
	.posts-container .pre-menu-list {
		width: 33.3333333%;
		width: calc(100% / 3);
	}
}
.pre-top-img {
	width: 100%;
	padding-bottom: 20px;
}
.pre-top-img img {
	width: 100%;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.pre-top-img:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
/*archive end*/
/*album start*/

/*album end*/