/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* site start */
/*#525050 #7FB414 #A0E418 #E5F9BD*/
/*#FF7575 #F08E6B #FFB270 #F6FEA1*/
/*#EEEEEE #00ADB5 #393E46 #222831*/
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
::selection { background:#FFB270; color:white;}
::-moz-selection { background:#FFB270; color:white;}
::-webkit-selection { background:#FFB270; color:white;}
a {
	text-decoration: none;
}
.circle {
	border-radius: 100%;
}
.clearfix:after {
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/**************************|
|*       nav start        *|
|**************************/
.navbar {
	position: absolute;
	padding: 0 24px;
	width: 100%;
	background-color: transparent;
	box-shadow: none;
	z-index: 99;
	*zoom: 1;
}
.navbar.scrolling {
	position: fixed;
	background-color: white;
	box-shadow: 0px 2px 5px #2D2D2D;
	-webkit-animation: fadeInDown 1s both;
	-o-animation: fadeInDown 1s both;
	animation: fadeInDown 1s both;
}
@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}
.navbar.show {
	background-color: #F6FEA1;
}
@media screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		top: 0;
		right: -600px;
		width: 300px;
		height: 100%;
		padding: 5px 0;
	}
	.navbar.show {
		right: 0;
	}
}
.navbar .brand {
	padding: 15px 15px;
	float: left;
	height: 60px;
	font-size: 18px;
	line-height: 20px;
}
.navbar .brand a {
	color: #F08E6B;
	display: block;
}
.navbar .brand a img {
	display: block;
	height: 100%;
}
.navbar .brand a span {
	float: right;
	margin-top: 10px;
	font-size: 1.25em;/*20px*/
}
.navbar .menu {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	float: right;
}
@media screen and (max-width: 768px) {
	.navbar .menu {
		width: 100%;
		margin-top: 130px;
	}
}
.navbar .menu li {
	display: inline-block;
	line-height: 60px;
}
@media screen and (max-width: 768px) {
	.navbar .menu li {
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		text-align: center;
	}
}
.navbar .menu li>a {
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	color: #F08E6B;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.navbar .menu li>a {
		display: block;
	}
}
/*       flip start       */
.navbar .menu li.flip-wrapper {
	perspective: 1000px;
	-webkit-perspective: 1000px;
}
.navbar .menu li.flip-wrapper a.flip {
	position: relative;
	top: -2px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: .8s;
	-moz-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}
@media screen and (max-width: 768px) {
	.navbar .menu li.flip-wrapper a.flip {
		top: 0;
	}
}
.navbar .menu li.flip-wrapper a.flip:hover {
	background-color: #FFB270;
}
.navbar .menu li.flip-wrapper a.flip:after {
	content: attr(title);
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	color: white;
	background-color: #FFB270;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateX(90deg) translate3d(0,-30px,30px);
	-ms-transform: rotateX(90deg) translate3d(0,-30px,30px);
	transform: rotateX(90deg) translate3d(0,-30px,30px);
}
@media screen and (max-width: 768px) {
	.navbar .menu li.flip-wrapper a.flip:after {
		-webkit-transform: rotateX(90deg) translate3d(0,-20px,20px);
		-ms-transform: rotateX(90deg) translate3d(0,-20px,20px);
		transform: rotateX(90deg) translate3d(0,-20px,20px);
	}
}
.navbar .menu li.flip-wrapper:hover a.flip {
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
/*        flip end        */
.navbar .menu li input.search {
	width: 0;
	height: 30px;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 1px 5px 1px 25px;
	color: #F08E6B;
	background-image: url("/images/search.svg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.navbar .menu li input.search:focus {
	width: 160px;
	border-color: #FFB270;
}
@media screen and (max-width: 768px) {
	.navbar .menu li input.search:focus {
		width: 100%;
	}
}
.navbar .avatar {
	margin: 5px 0;
	width: 120px;
	height: 120px;
	overflow: hidden;
	display: none;
	position: absolute;
	top: 60px;
	left: 90px;
}
.navbar .avatar a img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	.navbar .avatar {
		display: block;
	}
}
/*   navbar toggle start  */
.navbar .navbar-toggle {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 9px 10px;
	margin: 10px 25px;
	border: 1px solid #FFB270;
	border-radius: 5px;
	cursor: pointer;
	z-index: 999;
}
@media screen and (max-width: 768px) {
	.navbar .navbar-toggle {
		display: block;
	}
}
.navbar .navbar-toggle:hover {
	background-color: #FFB270;
}
.navbar .navbar-toggle:hover .icon-bar {
	background-color: #F6FEA1;
}
.navbar .navbar-toggle .icon-bar {
	display: block;
	width: 24px;
	height: 2px;
	background-color: #FFB270;
}
.navbar .navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}
/*   navbar toggle end   */
/**************************|
|*        nav end         *|
|**************************/
/**************************|
|*    jumbotron start     *|
|**************************/
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.jumbotron-wrapper {
	height: 100%;
	background-image: url("/images/green.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 24px;
	padding-right: 24px;
}
@media screen and (max-width: 768px) {
	.jumbotron-wrapper {
		padding-top: 0;
	}
}
/*     centered start     */
.centered-wrapper {
	text-align: center;
	white-space: nowrap;
}
.centered-wrapper:before {
	content: ' ';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.centered {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
/*      centered end      */
.jumbotron-wrapper .jumbotron {
	width: 100%;
	height: 100%;
	position: relative;
}
.jumbotron-wrapper .jumbotron .items .avatar {
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;
	width: 150px;
	height: 150px;
}
.jumbotron-wrapper .jumbotron .items .avatar a img {
	width: 100%;
	height: 100%;
}
.jumbotron-wrapper .jumbotron .items .name {
	padding: 5px 0 15px;
	font-weight: bold;
	font-size: 1.25em;
	color: #F6FEA1;
}
.jumbotron-wrapper .jumbotron .items .personalized {
	color: #F6FEA1;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: 1px;
	border-top: 2px solid #F08E6B;
	border-bottom: 2px solid #F08E6B;
	padding: 10px 15px;
}
.jumbotron-wrapper .jumbotron .items .personalized .signature {
	padding: 5px 0;
}
@media screen and (max-width: 768px) {
	.jumbotron-wrapper .jumbotron .items .avatar {
		width: 120px;
		height: 120px;
	}
	.jumbotron-wrapper .jumbotron .items .name,
	.jumbotron-wrapper .jumbotron .items .personalized {
		font-size: 1em;
	}
}
.jumbotron-wrapper .jumbotron #calendar {
	position: absolute;
	top: 5px;
	left: 5%;
}
.jumbotron-wrapper .jumbotron #time {
	position: absolute;
	top: 150px;
	left: 5%;
}
@media screen and (max-width: 768px) {
	.jumbotron-wrapper .jumbotron #calendar {
		display: none;
	}
	.jumbotron-wrapper .jumbotron #time {
		display: none;
	}
}
/**************************|
|*     jumbotron end      *|
|**************************/
/*body {
	background-color: #F6FEA1;
}*/
/*intro start*/
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container .content, .container .block {
	width: 100%;
	float: left;
}
@media screen and (min-width: 992px) {
	.container .content {
		width: 61.8%;
	}
	.container .block {
		width: 38.2%;
	}
}
.section-title, .section-content {
	padding-left: 20px;
	padding-right: 20px;
}
.section-title h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-top: 35px;
	color: #2f2d2d;
}
.section-title p, .section-content p {
	line-height: 2;
	letter-spacing: 2px;
}
.section-title p {
	padding-top: 15px;
	color: #B1AFAF;
	font-size: 14px;
}
.section-content p {
	padding-top: 27px;
}
.section-image {
	padding: 10px;
}
.section-image img {
	width: 100%;
}
/*intro end*/
/*blog-preview start*/
#blog-preview {
	background-image: url("/images/1501828216208.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.section-top-title {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.section-top-title h2 {
	font-size: 28px;
	font-weight: bold;
	color: #F08E6B;
	letter-spacing: 6px;
	display: inline-block;
	padding-bottom: 6px;
}
.section-top-title h2:after {
	content: "";
	display: block;
	width: 30%;
	border: 2px solid #F08E6B;
	margin: 15px auto;
}
.section-top-title h2 i {
	font-size: 28px;
}
.pre-articles ul li {
	width: 100%;
	float: left;
	padding: 20px;
}
@media screen and (min-width: 992px) {
	.pre-articles ul li {
		width: 33.3333333%;
		width: calc(100% / 3);
	}
}
.pre-articles ul li>div {
	background-color: #F6FEA1;
	position: relative;
}
.pre-articles ul li .post-title {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.pre-articles ul li .post-title a {
	color: #F08E6B;
}
.pre-articles ul li .post-title a:hover {
	text-decoration: underline;
}
.pre-articles ul li .excerpt {
	font-size: 14px;
	padding: 10px 30px;
	line-height: 1.2;
	text-indent: 2em;
}
.pre-articles ul li .post-meta {
	padding: 10px 30px 10px;
}
.pre-articles ul li .post-meta p {
	float: left;
	margin-right: 10px;
}
.pre-articles ul li .post-meta .post-time {
	color: #A0E418;
}
.pre-articles ul li .post-meta .tag-text a {
	color: #00ADB5;
}
.pre-articles ul li .read-full {
	padding: 10px 30px;
}
.pre-articles ul li .read-full a {
	float: right;
	color: #7FB414;
	text-decoration: underline;
}
.hover-shadow:hover {
	box-shadow: 4px 4px 10px #363535;
}
.pre-articles ul li .pin-icon {
	position: absolute;
	top: -20px;
	right: -2px;
}
.section-bottom {
	text-align: center;
	margin-top: 10px;
}
.section-bottom .section-btn {
	display: inline-block;
	background: #00b4ae;
	padding: 10px 20px;
	border-radius: 8px;
	color: white;
	font-size: 20px;
}
/*blog-preview end*/
/*images-preview & colection start*/
.images-container .images-list .img-li-item,
.collection-container .collection-list .coll-li-item  {
	float: left;
	padding: 15px;
	width: 100%;
}
.images-container .images-list .img-li-item img,
.collection-container .collection-list .coll-li-item a img {
	display: block;
	width: 100%;
}
#collection {
	background-image: url("/images/1501828259615.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.collection-container .collection-list .coll-li-item a {
	position: relative;
	display: block;
	overflow: hidden;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
@media (min-width: 640px) {
	.images-container .images-list .img-li-item,
	.collection-container .collection-list .coll-li-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.images-container .images-list .img-li-item,
	.collection-container .collection-list .coll-li-item {
		width: 33.3333333%;
		width: calc(100% / 3);
	}
}
@media (min-width: 992px) {
	.images-container .images-list .img-li-item,
	.collection-container .collection-list .coll-li-item {
		width: 25%;
	}
}
.collection-container .collection-list .coll-li-item a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.collection-container .collection-list .coll-li-item a img,
.collection-container .collection-list .coll-li-item a .overlay {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.collection-container .collection-list .coll-li-item a:hover img {
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-ms-filter: blur(6px);    
	filter: blur(6px);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.collection-container .collection-list .coll-li-item a:hover .overlay {
	opacity: 1;
}
/*images-preview & collection end*/
/*footer start*/
.footer {
	text-align: center;
}
.footer-nav .footer-list .footer-item {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.footer-nav .footer-list,
.copyright {
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-nav .footer-list .footer-item a i {
	font-size: 18px;
}
.footer-nav .footer-list .footer-item a,
.copyright {
	color: #a09c9c;
}
.copyright a {
	color: #00b4ae;
	text-decoration: underline;
}
/*footer end*/