<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<header class="header">
		<nav class="navbar clearfix">
			{% if site.brand.url %}
				<div class="brand">
					<a href="/">
						<img src="{{ site.brand.url }}" />
					</a>
				</div>
			{% endif %}
			<ul class="menu" onclick="go()">
				<li class="menu-item">
					<input class="search" id="search-input" type="text" placeholder="搜索" />
				</li>
				{% for item in site.nav %}
					<li class="menu-item flip-wrapper">
						<a href="{{ item.url }}" class="flip" title="{{ item.title }}"> {{ item.title }} </a>
					</li>
				{% endfor %}
			</ul>
			<div class="avatar circle">
				<a href="/">
					<img src="{{ site.author.avatar }}" title="{{ site.author.name }}">
				</a>
			</div>
			<div class="navbar-toggle" onclick="showNavbar()">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
		</nav>
	</header>
	<div class="to-top" onclick="backToTop()"></div>
	{{ content }}
	{% include footer.html %}
	{% include script.html %}
</body>
</html>