---
layout: default
---
{% include niph.html %}
<div class="container">
	<article>
		<div class="article-top">
			{% if page.img %}
			<div class="article-img">
				<img src="{{ page.img }}" alt="{{ page.title }}">
			</div>
			{% endif %}
			<div class="article-title">
				<h1 class="post-title">{{ page.title }}</h1>
			</div>
			<div class="article-info">
				<div class="post-date post-time info"><i class="iconfont icon-calendar"></i>{{ page.date | date: "%Y-%m-%d" }}</div>
				<div class="post-tags tag-text info">
					<i class="iconfont icon-tags"></i>
					{% for tag in page.tags %}
					<a href="#" class="tag">
						{{ tag }}
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="post-content">
			{{ page.content | markdownify }}
		</div>
		{% include readmore.html %}
	</article>
</div>